body {
    font-family: 'Poppins', sans-serif;
    background: #0d1117;
    color: #e6edf3;
    scroll-behavior: smooth;
}

.modules {
    padding: 0px;
    margin: 0px;
    padding-left: 1px;
}
.skills {
    padding: 5px;
    margin: 5px;
    padding-left: 8.5px;
}