.masonry-container {
    column-count: 2;
    column-gap: 30px;
}

.masonry-item {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 100%;
}

.masonry-item img {
    display:block;
    max-width: 100%;
}

.masonry-item img:hover {
    transform: scale(1.03);
}
