.navbar {
    background: linear-gradient(135deg, #0d1117, #161b22);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.nav-link {
    cursor: pointer;
    color: #f3f0f0;
}

.center {
    text-align: center;
}

.quote {
    font-style: italic;
    text-align: center;
    margin: 2rem 0;
}